#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}


#root {
  background-image: url('./assets/leaves.png');
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}